*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

header{
    background-color: orange;
    padding: 20px 0;
    width: 100%; /*== left:0 and right:0 as alternative to widht*/
}

.container-fluid{
    margin: 0 10px;
    width: calc(100% - 20px);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

/*MAIN*/

.col-33{
    width: calc(100%/3 - 20px);
}

main{
    padding-top: 50px;
    padding-bottom: 50px;
}

img{
    max-width:100%;
}

/*LOGO*/
.logo{
    max-width: 150px;
    align-content: center;
}

.product{
    position: relative;
}

/*DISCOUNT AND HEARTS*/

.discount{
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px;
}

/*HEART CHANGING COLOR*/
.product:hover .heart{
    color: red;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.product:hover .hide{
    display: block;
}

.product:hover .show{
    display: none;
}
.price{
    color: red;
    font-weight: bold;
}
.bg-red{
    background-color: red;
}

.heart{
    color: black;
    text-align: center;
    position: absolute;
}

/*COLUMN*/
.col-15{
    width: 15%;
}

.col-70{
    width: 70%;
} 

.col-100{
    width: 100%;
} 

/*HEIGHT*/
.height-50{
    height: 10px;
}


/*FOOTER*/
.side{
    padding:10px;
}

footer{
    background-color: rgb(51, 51, 51);
    padding: 20px 0;
    width: 100%;
}

